.map-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 30vh;
}

@media screen and (max-width: 600px) {
    .map-grid-mq {
        grid-template-columns: repeat(1, 1fr);
        height: 30vh;
    }
}

