.App {
  height: 40vh;
  width: 40vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: flex-start;
  background-color: grey;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 900;
  font-size: 2.5vw;
}

.input-title {
  text-align:left;
  width: 100%;
  overflow: hidden;
}

.specific-input {
  width: 100%;
}

.button-area {
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.content-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
}

.input-section {
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
