body {
  z-index: -10;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1vw;
  font-family: "RobotoSerif";
}

@font-face {
  font-family: 'RobotoSerif';
  src: url('./RobotoSerif-Thin.ttf');
}